html, body {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
  margin: 20px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  letter-spacing: 10px;
}

.caption span.border a{
  color: #fff;
}

.caption span.border a:hover{
	color: #a2b6d6;	
}

.copyright{
	margin: 20px;
	text-align:center;
	font-size: 15 px;
}

.bg { 
    /* The image used */
    background-image: url("travel.gif");

    /* Full height */
    height: 70%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav a:hover{
	background-color: #91d8af;
}

nav a:active{
	border-right: 10px;
	  position: relative;
  top: 2px;
}


nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none !important;
  padding: 15px;
}

nav {
  background-color: #FFF;
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}

nav ul {
  display: inline;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

.trip_info{
	background-color:#9cbfa0;
	display: flex;
	background-size:cover;
	font-size:20px;
}

.trip_info span.info{
	padding: 50px;
}

span.dur_info{
	display:flex;
  background-image: url("42.png");
  width: 2%;
  height: 2%;
  padding-left: 15px;
  position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  left: 5px;
  
}

header nav {
  display: flex;
  background-size: cover;
  justify-content: flex-end;
  heigh: 500px;
}

header p {
  padding: 0 20px;
  margin: 0;
}
jumbotron {
  display: flex;
  align-items: center;
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}