html, body {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
  margin: 20px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  letter-spacing: 10px;
}

.copyright{
	margin: 20px;
	text-align:center;
	font-size: 15 px;
}

.bg { 
    /* The image used */
    background-image: url("travel.gif");

    /* Full height */
    height: 70%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav a:hover{
	background-color: red;
}

nav a:active{
	margin-right: 10px;
}

nav a{
	padding:20px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}
jumbotron {
  display: flex;
  align-items: center;
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}